<div>
    <img src = "/images/beer.png" alt="Beer cartoon image">
    <ul>
        <li> <a href= "/beers">Cheeck the Beers!</a></li>
        <li> <a href= "/random-beer">Check a Random Beer!</a></li>
    </ul>    
</div>